# Build output
dist/
.output/

# Dependencies
node_modules/

# Astro
.astro/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*

# Migration folder
rexeco-migra/
.vercel
